

/* can't just use .navbar-brand b/c bootstrap is more specific */
.navbar-light .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background: lightseagreen; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body{
    background-color: white;    
}



#figure{
    float: left;
    position: relative;
}

h2{
    font-size: 30px;
    font-weight: bold;
    color: lightseagreen;

}

h3{
    font-size: 25px;
    font-weight: bold;
    color: lightseagreen;

}

h4{
    font-size: 20px;
    font-weight: bold;
    color: lightseagreen;
    text-align: center

}


body{
    background-color: lightgray;
}


.navbar{
    background-color: white;
    justify-content: space-between;
}

@media (max-width: 770px) {
    .navbar {
        background-color: lightseagreen;
        justify-content: space-between;
    }    
}
